<div class="row">
    <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark menu" >
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <img src="assets/logogestionNote.png" class="logo" alt="">
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              
              <li class="nav-item mb-3">
                <a href="#" class="nav-link " routerLink="/admin">Dashbord</a>
              </li>
              <li class="nav-item mb-3">
                <a href="#" class="nav-link active-page"  aria-current="page">Gestion professeur</a>
              </li>
              <li class="nav-item mb-3">
                <a href="#" class="nav-link" routerLink="/admin-gestionApprenant">Gestion apprenant</a>
              </li>              
            </ul>

            <hr>
            <a href="#" class="nav-link déconnexion fs-5 fw-bold ms-3" >Deconnexion</a>
          </div>
    </div>
    <div class="col-9">
        <p>Contenu Principal</p>
        <div class="container">
            <!-- Contenu principal  -->
        </div>
    </div>
</div>