<div class="row">
    <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark menu" >
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <img src="assets/logogestionNote.png" class="logo" alt="">
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">

              <li class="nav-item mb-3">
                <a href="#" class="nav-link " routerLink="/admin">Dashbord</a>
              </li>
              <li class="nav-item mb-3">
                <a href="#" class="nav-link" routerLink="/admin-gestionProf">Gestion professeur</a>
              </li>
              <li class="nav-item mb-3">
                <a href="#" class="nav-link active-page" aria-current="page">Gestion apprenant</a>
              </li>
            </ul>

            <hr>
            <a href="#" class="nav-link déconnexion fs-5 fw-bold ms-3" >Deconnexion</a>
          </div>
    </div>
    <div class="col-9">


            <div class="container">
              <!-- Contenu principal  -->

              <!-- statistic -->
              <div class="statistic">
                <div class="row row-statistic">
                  <!-- Nombre de classe active -->
                  <div class="col-lg-3 col-md-6 px-2">
                    <div class="card mb-3 shadow py-4">
                      <div class="card-body">
                        <div class="row g-0">
                          <div class="col-lg-4">
                            <i class="bi bi-bank compte-prof actif"></i>
                          </div>
                          <div class="col-lg-8 ">
                            <h4 class="card-title fw-bold">{{classeActif}}</h4>
                            <p class="card-text fs-5"> Classe(s)</p>
                            <p class="card-text fs-5"> Active(s)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Nombre de classe supprimées -->
                  <div class="col-lg-3 col-md-6 px-2">
                    <div class="card mb-3 shadow py-4">
                      <div class="card-body">
                        <div class="row g-0">
                          <div class="col-lg-4">
                            <i class="bi bi-bank2 compte-prof inactif"></i>
                          </div>
                          <div class="col-lg-8 ">
                            <h4 class="card-title fw-bold">{{classeInactif}}</h4>
                            <p class="card-text fs-5"> Classe(s)</p>
                            <p class="card-text fs-5"> Supprimée(s)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Nombre d'apprenant actif' -->
                  <div class="col-lg-3 col-md-6 px-2">
                    <div class="card mb-3 shadow py-4">
                      <div class="card-body">
                        <div class="row g-0">
                          <div class="col-lg-4">
                            <!-- <i class="bi bi-person-vcard-fill compte-prof"></i> -->
                            <i class="bi bi-person-fill-check compte-prof actif"></i>
                            <!-- <i class="bi bi-person-fill-slash prof-desable compte-prof"></i> -->
                          </div>
                          <div class="col-lg-8">
                            <h4 class="card-title fw-bold">{{apprenantActif}}</h4>
                            <p class="card-text fs-5"> Apprenant(s)</p>
                            <p class="card-text fs-5"> Actif(s)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Nombre d'apprenant inactif' -->
                  <div class="col-lg-3 col-md-6 px-2">
                    <div class="card mb-3 shadow py-4">
                      <div class="card-body">
                        <div class="row g-0">
                          <div class="col-lg-4">
                            <i class="bi bi-person-fill-slash prof-desable compte-prof inactif"></i>
                          </div>
                          <div class="col-lg-8">
                            <h4 class="card-title fw-bold">{{apprenantInactif}}</h4>
                            <p class="card-text fs-5"> Apprenant(s)</p>
                            <p class="card-text fs-5"> Inactif(s)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="container-princiapl">
                <!-- Liste des classes  -->
                <div *ngIf="choiceListe && viewClasse">
                  <div class="mt-3">
                    <button type="button" class="btn btn-primary bouttonajoutclasses mb-5" (click)="viewCorbeille()">Voir
                      corbeille</button>
                    <div class="d-flex justify-content-between mb-5">
                      <div class="col-md-6">
                        <h3>Liste des classes actives</h3>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()">
                          <button class="searchclasse input-group-text"><i class="bi bi-search"></i></button>
                        </div>
                      </div>
                    </div>

                  </div>


                  <!-- liste des classe -->
                  <div class="list">
                    <div class="mt-3" *ngFor="let item of filteredClasse">
                      <div class="listedesclasses card " *ngIf="item.etatClasse == 1">
                        <div class="divclass card-body">

                          <ul class="nav nav-pills nav-fill">
                            <li class="nav-item paraphclasselien">
                              <h5 class="card-title">Classe</h5>
                              <a (click)="openModal(item)">{{item.nomClasse}}</a>
                            </li>
                            <li class="nav-item">
                              <h5 class="card-title">Effectif </h5>
                              <p class="paraphclasse">{{item.effectif}}</p>
                            </li>
                            <li class="nav-item">
                              <!-- <div class="col-md-6"> -->
                              <h5 class="titreDet">Action</h5>
                              <div class="d-grid gap-2 d-md-block  btns mt-3 ">
                                <button type="button" class="modifier btn btn-success me-3" data-bs-toggle="modal"
                                  data-bs-target="#modifierClasse" (click)="changerInfoClasse(item)">Modifier</button>
                                <button class=" supprimer btn btn-danger btn-supprimer active" type="button"
                                  (click)="supprimerClasse(item)">Supprimer</button>
                              </div>
                              <!-- </div> -->
                            </li>
                            <li class="nav-item">
                              <!-- <div class="col-md-6"> -->
                              <h5 class="titreDet">Details</h5>
                              <div class="d-grid gap-2 d-md-block  btns mt-3 ">
                                <button type="button" class="details btn btn-primary"
                                  (click)="listeChoiceFunction();detailClasse(item)">Details </button>
                                <!-- <button type="button" class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#modalModifierContact"
                                            >Activer</button> -->
                                <!-- <button class="btn btn-danger btn-supprimer active" type="button">Desactiver</button> -->
                              </div>
                              <!-- </div> -->
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Liste des classes supprimer  -->
                <div *ngIf="!viewClasse">
                  <div class="mt-3">
                    <button class=" buttonretour mb-5" (click)="viewCorbeille()"><i class="bi bi-arrow-left"></i></button>
                    <div class=" row  mb-5">
                      <div class="col-md-6">
                        <h3>Liste des classes supprimées</h3>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()">
                          <button class="searchclasse input-group-text"><i class="bi bi-search"></i></button>
                        </div>

                      </div>
                    </div>

                  </div>

                  <!-- liste des classes supprimée -->
                  <div class="list">
                    <div class="mt-3" *ngFor="let item of filteredClasse">
                      <div class="listedesclasses card " *ngIf="item.etatClasse == 0">
                        <div class="divclass card-body">

                          <ul class="nav nav-pills nav-fill">
                            <li class="nav-item paraphclasselien">
                              <h5 class="card-title">Classe</h5>
                              <a (click)="openModal(item)">{{item.nomClasse}}</a>
                            </li>
                            <li class="nav-item">
                              <h5 class="card-title">Effectif </h5>
                              <p class="paraphclasse">{{item.effectif}}</p>
                            </li>
                            <li class="nav-item">
                              <!-- <div class="col-md-6"> -->
                              <h5 class="titreDet">Action</h5>
                              <div class="d-grid gap-2 d-md-block  btns mt-3 ">
                                <!-- <button type="button" class="modifier btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#modifierClasse" (click)="changerInfoClasse(item)">Modifier</button> -->
                                <button class=" supprimer btn btn-danger btn-supprimer active" type="button"
                                  (click)="restaurerClasse(item)">Restaurer</button>
                              </div>
                              <!-- </div> -->
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- lister les apprenants -->
                <div class="list" *ngIf="!choiceListe">
                  <div class="my-5">
                    <button class=" buttonretour me-3" (click)="listeChoiceFunction()"><i class="bi bi-arrow-left"></i></button>
                  </div>
                  <div class="card-header">
                    <div class="d-flex justify-content-between">
                      <div class="col-md-6">
                        <h3 class="fw-bold">{{nomClasse}} </h3>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" name="search" class="form-control" [(ngModel)]="filterValue"
                            (input)="onSearchApprenant()">
                          <button class="searchclasse input-group-text"><i class="bi bi-search"></i></button>
                        </div>
                      </div>
                    </div>
                    <h5><span class="fw-bold">Effectif:</span> {{effectif}} </h5>
                    <h5><span class="fw-bold">Nombre d'apprenants:</span> {{nbreApprenantClasse}} </h5>
                  </div>
                  <div class="listedesclasses divclass card" *ngIf="nbreApprenantClasse">
                    <div class="card-body" *ngFor="let item of filteredApprenants">
                      <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                          <h5 class="card-title">Nom</h5>
                          <p class="mt-4">{{item.nom}} </p>
                        </li>
                        <li class="nav-item">
                          <h5 class="card-title">Prenom</h5>
                          <p class="mt-4">{{item.prenom}}</p>
                        </li>
                        <li class="nav-item">
                          <h5 class="card-title">Email</h5>
                          <p class="mt-4">{{item.email}}</p>
                        </li>
                        <!-- <li class="nav-item">
                              <h5 class="card-title">Telephone</h5>
                            </li>
                            <li class="nav-item">
                              <h5 class="card-title">Mot de passe</h5>
                            </li>
                            <li class="nav-item">
                              <h5 class="card-title">Adresse</h5>
                            </li> -->
                        <li class="nav-item">
                          <!-- <div class="col-md-6"> -->
                          <h5 class="titreDet">Etat</h5>
                          <div class="d-grid gap-2 d-md-block  btns mt-3 ">
                            <!-- <button type="button" class="modifier btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#modalModifierContact"
                                      >Activer</button>
                                  <button class="supprimer btn btn-danger btn-supprimer active" type="button">Desactiver</button> -->
                            <button class=" modifier btn btn-activer me-2" *ngIf="item.etatApprenant==0"
                              (click)="activerApprenant(item)">Activer</button>
                            <button class=" supprimer btn btn-desactiver me-2" *ngIf="item.etatApprenant==1"
                              (click)="desactiverApprenant(item)">Désactiver</button>
                            <!-- </div> -->
                          </div>
                        </li>
                        <li class="nav-item">
                          <!-- <div class="col-md-6"> -->
                          <h5 class="titreDet">Detail</h5>
                          <div class="d-grid gap-2 d-md-block  btns mt-3 ">
                            <button type="button" class="details btn btn-primary active btnAdd" data-bs-toggle="modal"
                              data-bs-target="#detailApprenant" (click)="detailApprenant(item)">Details</button>
                            <!-- <button class="btn btn-danger btn-supprimer active" type="button">Desactiver</button> -->
                            <!-- </div> -->
                          </div>
                        </li>
                      </ul>
                    </div>

                  </div>
                  <div class="mt-5"></div>
                  <!-- <h3 class=" fw-bold titreUs shadow p-2 text-center mb-5 mt-5">Liste des classes</h3> -->

                </div>
              </div>
            </div>
            </div>
        </div>


